.cid-t2AnNcyJKQ {
    width: 100%;
}
.navbar-dropdown .navbar-caption {
    font-weight: 700;
    white-space: normal;
    vertical-align: -4px;
    line-height: 3.125rem !important;
}
.text-black {
    color: #232323 !important;
}
nav {
    background-color: #232323;
}
img, .img {
    border-radius:5px; 
    box-shadow: 1px 1px 10px 1px;
}
.cid-t2BB7qNC2b, .cid-t2BA320rRJ, .cid-t2BB7qNC2b, .cid-t2ByeNExO3, .cid-t2B0GFElzb, .cid-t2AWARuEV9, .cid-t2ANEdQpEg, .cid-t2ADGClLPJ, .cid-t2Ap2N4woc, .cid-t2AlBAovYv {
 background-color: rgba(102, 51, 153, 0);
}
body {
    height: 100%;
    background: url("./background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.rain {
	position: fixed;
	width: 2px; /* Ширина капли */
	height: 5px; /* Высота капли */
	top: -3px;
	background-color: rgba(255, 255, 255, 0.644); /* Цвет капли */
	animation: rain 1s linear infinite;
	z-index: 99;
	border-radius: 10px;
}

@keyframes rain {
	to {
		transform: translate3d(400px, 1000px, 0); /* Первое значение (200px) это направление дождя, где: 0 - вниз, положительное число - вправо, отрицательное - влево */
	}
}
