.cid-t2AnNcyJKQ {
    width: 100%;
}
.navbar-dropdown .navbar-caption {
    font-weight: 700;
    white-space: normal;
    vertical-align: -4px;
    line-height: 3.125rem !important;
}
.text-black {
    color: #232323 !important;
}
nav {
    background-color: #232323;
}
img, .img {
    border-radius:5px; 
    box-shadow: 1px 1px 10px 1px;
}
.cid-t2BB7qNC2b, .cid-t2BA320rRJ, .cid-t2BB7qNC2b, .cid-t2ByeNExO3, .cid-t2B0GFElzb, .cid-t2AWARuEV9, .cid-t2ANEdQpEg, .cid-t2ADGClLPJ, .cid-t2Ap2N4woc, .cid-t2AlBAovYv {
 background-color: rgba(102, 51, 153, 0);
}
body {
    height: 100%;
    background: url("./background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.cid-t2BB7qNC2b form.mbr-form {
    background: rgba(255, 255, 255, 0);
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: linear-gradient(11.25deg, rgb(235, 155, 155), rgb(11, 11, 95));
    z-index: 1001;
  }

  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
    color: #ffffff;
  }

  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }

.loaded .preloader {
    display: none;
}

.preloader__txt {
    text-align: center;
    margin-top: 150px;
    margin-bottom: -220px;    
    font-size: 20px;
    color: white;
    font-family: verdana;
}
.preloader__txt > p > span {
    font-weight: bold;
    background: linear-gradient(11.25deg, rgb(255, 0, 0), rgb(255, 197, 197));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}