h1, p {

    color: white;
}
body {
    color: white;
}
strong {
    color: white;
}
.dd {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media  (max-width: 400px) {
    .dd {
        display: block;
    }
    input {
        display: flex;
        justify-content: center;
    }
}
